{% extends "ProyectoWebApp/base.html" %}

{% load static %}

  {% block content %}
  {% for post in posts %}

   <!-- Heading -->
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">{{post.título}}</span>
            <span class="section-heading-lower">{{post.contenido}}</span>
            <p>Autor: {{post.autor}}</p>
          </h2>
         
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div style="margin: auto; width: 75%; text-align: center;
    color: white;">
      Categorías:
    {%for categoría in categorías%}

      <a href="{% url 'categoria' categoría.id %}">{{categoría.nombre}}</a> &NonBreakingSpace; | &NonBreakingSpace;

    {%endfor%}
    </div>
  </section>

  {%endfor%}
  
  {% endblock %}
  